<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="description" content="BOOGLE">
   <meta name="keywords" content="BOOGLE, search, navigation">
   <meta name="author" content="BOOGLE">
   <link rel="stylesheet" href="/static/img/boogle image.png" type="/static/css/style.css">
</head>
<div id="main">
  <center>
     <img src="boogle image.png">
  </center>
   <br>
  <center><input type="text" placeholder="" id="search">
      <br>
<input class="gNO89b" value="Buscar con Boogle" aria-label="Buscar con Boogle" name="btnK" type="submit" data-ved="0ahUKEwjBkKeImunkAhXpxoUKHQrvBKIQ4dUDCAo">
<input class="RNmpXc" value="Voy a tener suerte" aria-label="Voy a tener suerte" name="btnI" type="submit" jsaction="sf.lck" data-ved="0ahUKEwjBkKeImunkAhXpxoUKHQrvBKIQ19QECAs">
</center>
    <br>

</div>


</body>
</html>