<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="My Fakebook">
        <meta name="keywords" content="me, hobbies, fakebook">
        <meta name="author" content="Pablo Duran Vargas">

        <title>Pablo Duran | Fakebook</title>

        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
        <h1><i>FAKEBOOK</i></h1>
        Search: <input type="text" placeholder="Search by name" id="search">

        <br>

        <h2>Pablo Duran</h2>
        <img class= "circular-square" src="flask/static/css/img/fotogafas.jpg" width="300" height="250">
        <br>
        <br>

        <button>Add a friend</button>
        <br>

        <p class="category"><strong>City:</strong> Málaga</p>

        <p class="category"><strong>Age:</strong> 42</p>
        <p class="category"><strong>Education:</strong> Life as it is</p>
        <p class="category"><strong>Hobby:</strong> programming?</p>
        <p class="category"><strong>FB friends:</strong> not even one</p>
        <p class="category"><strong>FB enemies:</strong> thousands</p>
    </body>
</html>